<h1>PROFILE</h1>
<%= image_tag @profile_pic_url %>
<ol>
  <% @recommendations.each do |track| %>
    <li>
      <%= link_to track.spotify_url do %>
        <%= track.name %> - <%= track.artists.map(&:name).to_sentence %>
      <% end %>
    </li>
  <% end %>
</ol>
